[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
fastapi = "*"
uvicorn = "*"
supabase = "*"

[dev-packages]

[requires]
python_version = "3.11"

[packages.pydantic]
extras = [ "email",]
